<p-toast></p-toast>
<p-card class="w-full">
  <form
    class="flex justify-content-center flex-wrap gap-1"
    [formGroup]="formDcx"
    (ngSubmit)="search()"
  >
    <img
      src="assets/FLYR_LOGO_BLK_RGB.svg"
      alt="flyr"
      width="200px"
      height="50px"
      class="pr-5"
    />
    <p-iconField iconPosition="left">
      <p-inputIcon>
        <img
          src="/assets/plane-1.svg"
          class="custom-icon"
          alt="avion despegando"
        />
      </p-inputIcon>
      <input
        type="text"
        pInputText
        placeholder="Origin"
        formControlName="origin"
      />
    </p-iconField>

    <p-iconField iconPosition="left">
      <p-inputIcon>
        <img
          src="/assets/plane-2.svg"
          class="custom-icon"
          alt="avion despegando"
        />
      </p-inputIcon>
      <input
        type="text"
        pInputText
        placeholder="Destination"
        formControlName="destination"
      />
    </p-iconField>

    <p-selectButton
      [options]="typeflight"
      formControlName="typeflight"
      optionLabel="label"
      optionValue="value"
    />
    <p-dropdown
      formControlName="selectCurrency"
      [options]="currency"
      optionLabel="name"
      placeholder="Select your currency"
    />
    <p-button
      label="Search"
      icon="pi pi-search"
      iconPos="right"
      type="submit"
    />
  </form>
</p-card>
